body {
    font-family: "Courier New", sans-serif;
    background-color: #E8C274;
}

* {
    border-radius: 4px;
}

.info {
    margin: 2%;
    padding: 1%;
    background-color: #d1941c;
    border: medium solid;
    font-size: 0.8em;
}

.message {
    text-align: center;
}

.game {
    display: flex;
    justify-content: center;
    font-size: 1.5em;
}

.infoComponent, .stats {
    text-align: left;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}

th, td {
    border: 2px solid;
}

.buttons {
    font-size: 2em;
    display: flex;
}

.button, .value {
    padding: 5px;
    display: inline;
    line-height: 1;
    border: medium solid;
    min-height: 1em;
    min-width: 1em;
}

.button:hover {
    background-color: #e0a530;
    animation: 0.2s;
}

.button {
    cursor: pointer;
    user-select: none;
}
.leaveGame {
    color: red;
}
.joinGame {
    color: green;
}